<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>json files</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>
</head>
<body>
    <form>
        <input type="text" id="name">
    </form>
    <div class="tree-list">
    </div>

    <script>
        data = JSON.parse('{{json|safe}}');
        console.log(data);
        $("form").append("<a id='createLink' href='#'>Create New Folder</a>");
        $("#createLink").click(function(){
            $(this).attr("href","create?d="+data[data.length-1].path+"/"+document.getElementById('name').value);
        });
        function printWorkingDirectory(dir) {
            dir.forEach(function(elem) {
                var current;
                if(elem.type == 'folder') {
                    current = $(".tree-list").append("<li><a href='/index?d="+elem.path+"'>"+elem.name+" </a></li>");
                    current.append("<a href='/delete?d="+elem.path+"'>Delete Folder</a>");
                } else {
                    current = $(".tree-list").append("<li><a href='/download?d="+elem.path+"'>"+elem.name+" </a></li>");
                }
            });
        }
        printWorkingDirectory(data);
    </script>
</body>
</html>