<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>json files</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .to-the-right {
            float: right;
        }
        #name {
            display: inline-block;
            width: 200px;
            margin: 10px;
        }
        #createLink {
            margin-top: -3px;
            height: 39px;
        }
    </style>
</head>
<body>
    <form>
        <input type="text" id="name" class='form-control form-control-md'>
    </form>
    <div class="tree-list list-group">
    </div>

    <script>
        data = JSON.parse('{{json|safe}}');
        console.log(data);
        $("form").append("<a id='createLink' class='btn btn-success' href='#'>Create New Folder</a>");
        $("#createLink").click(function(){
            $(this).attr("href","create?d="+data[data.length-1].path+"/"+document.getElementById('name').value);
        });
        function printWorkingDirectory(dir) {
            dir.forEach(function(elem) {
                var current;
                if(elem.type == 'folder') {
                    current = $(".tree-list").append("<li class='list-group-item list-group-item-action'><a href='/index?d="+elem.path+"'>"+elem.name+" </a><a class='btn btn-danger to-the-right' href='/delete?d="+elem.path+"'>Delete Folder</a></li>");
                } else {
                    current = $(".tree-list").append("<li class='list-group-item list-group-item-action'><a href='/download?d="+elem.path+"'>"+elem.name+" </a></li>");
                }
            });
        }
        printWorkingDirectory(data);
    </script>
</body>
</html>