<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>json files</title>
    <script
  src="https://code.jquery.com/jquery-3.3.1.slim.js"
  integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA="
  crossorigin="anonymous"></script>
</head>
<body>
    <div class="tree-list">
    </div>
    <script>
        data = JSON.parse('{{json|safe}}');
        function printWorkingDirectory(dir) {
            dir.forEach(function(elem) {
                $(".tree-list").append("<li><a href='/?d="+elem.path+"'>"+elem.name+"</a></li>");
            });
        }
        printWorkingDirectory(data);
    </script>
</body>
</html>